<div class="gestores-main">
    <article class="gestores-article">
        <h3>Gestores</h3>
        <table class="blueTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gestor of gestores">
                    <td>{{gestor.id}}</td>
                    <td>{{gestor.usuario}}</td>
                    <td>{{gestor.correo}}</td>
                </tr>
            </tbody>
        </table>
    </article>


    <article class="gestores-article big-gestores">
        <div action="">
            <p>Añadir nuevos gestores <br>(requiere inicio de sesión)</p>
            <div class="form__element">
                <label for="user" class="form__label">Usuario</label>
                <input #inputUser type="text" name="user" class="form__input" id="user">
            </div>

            <div class="form__element">
                <label for="pass" class="form__label">Contraseña</label>
                <input #inputPass type="password" name="pass" id="pass" class="form__input">
            </div>

            <div class="form__element">
                <label for="email" class="form__label">Email</label>
                <input #inputEmail type="email" name="email" class="form__input" id="email" >
            </div>

            <div class="form__element">
                <input type="submit" value="Añadir" class="form__bottom" (click)="onAgregarGestor(inputUser, inputPass, inputEmail)">
            </div>
            <p class="error" *ngIf="!agregarGestorRespuesta">Error, compruebe que no existe un gestor con estos datos, o que los datos introducidos son correctos</p>
        </div>
    </article>
</div>