.gestores-main {
    text-align: center;
    padding-top: 60px;

}

.gestores-article {
    display: inline-block;
    text-align: center;
    width: 40%;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px y rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    min-height: 200px;

}

/* */
.big-gestores {
    overflow-x: visible;
    width: 50%;
    background-color: transparent;
}

/* Tablas */
table.blueTable {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
}

table.blueTable tr:nth-child(even) {
    background: #A7F5AE;
}

table.blueTable thead {
    background: #054C0C;
    background: -moz-linear-gradient(top, #437949 0%, #1e5e24 66%, #054C0C 100%);
    background: -webkit-linear-gradient(top, #437949 0%, #1e5e24 66%, #054C0C 100%);
    background: linear-gradient(to bottom, #437949 0%, #1e5e24 66%, #054C0C 100%);
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #587255;
}

table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #EDF5EE;
    background: -moz-linear-gradient(top, #f1f7f2 0%, #eef6ef 66%, #EDF5EE 100%);
    background: -webkit-linear-gradient(top, #f1f7f2 0%, #eef6ef 66%, #EDF5EE 100%);
    background: linear-gradient(to bottom, #f1f7f2 0%, #eef6ef 66%, #EDF5EE 100%);
    border-top: 2px solid #444444;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

table.blueTable tfoot .links a {
    display: inline-block;
    background: #145216;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}


/***** FORMULARIO *****/
.form__label {
    display: inline-block;
    text-align: left;
    width: 100px;
}

.form__element {
    display: block;
    margin: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

.form__input:focus {
    background-color:#A7F5AE;
}

.form__bottom {
    margin-top: 10px;
    width: 280px;
    background-color:#437949;
    padding: 2px 0px;
    border: 1px transparent;
    border-radius: 5px;
    color:#EDF5EE;
    box-shadow: 2px 2px 2px 2px #054C0C;
}

.form__bottom:hover {
    cursor: pointer;
    border: 1px solid #054C0C;
    background-color:#A7F5AE;
    color:#145216;
}