/** header **/
.main-header {
    background-color: #45ab62;
    padding: 8px 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: inline-block;
}

/* Logo */
.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #043000;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

@media screen and (max-width: 580px) {
    .main-header {
        display: block;
        text-align: center;
    }

    header {
        max-height: 75px;
        overflow-y: scroll ;
    }
}

