<nav class="main-nav">
    <ul class="main-nav__items" id=>
      <li class="main-nav__item">
        <a class="main-nav__item_clientes" href="index.html">Clientes</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__item_gestores" href="gestores.html">Gestores</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__item_mensajes" href="mensajes.html">Mensajes</a>
      </li>
      <li class="main-nav__item main-nav__item_logout">
        <a href="logout.html">
          <i class="fas fa-sign-out-alt "></i>
          Logout</a>
      </li>
    </ul>
  </nav>